body {
    background-color: #F2F2F2;
    color: rgb(63, 63, 63);
}

/* Nav BAR /////////////////////// */
.container-nav {
    display: flex;
    height: 100px;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 18px;

}
.logo img {
    height: 60px;
}


.nav {
    display: flex;
    
}
.nav li {
    list-style: none;
    padding: 15px;

    
}

/* SEARCH CONTAINER /////////////////////// */
.container-search {
    display: flex;
    background-color: #304863;
    width: 100vw;
    height: 60px;
    justify-content: flex-end;
}

.container-search input {
    width: 180px;
    margin-right: 24px;
    border-radius: 5px;
    padding: 10px 15px;
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    border: none;
}

/* Section Top /////////////////////// */

.section-one {
    display: flex;
    width: 1000px;
    height: auto;
    margin: 40px auto;
    border: 1px solid lightgrey;
}

.section-one img {
    width: 500px;
}

.section-one div:nth-child(2) {
    background-color: #F1F5F7;
    color: #304863;
    padding: 30px;  

}
.section-one p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.5;
}

.section-one h3 {
    font-size: 22px;
    font-weight: normal;
}


.section-one div:last-child {
    background-color: #1D6BA2;
    font-family: Arial, Helvetica, sans-serif;
    color: #F2F2F2;
    font-size: 12px;
    font-weight: bold;
    
    flex: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Section two /////////////////////// */

.section-two {
    display: flex;
    width: 1000px;
    margin: 40px auto;

}

.sub-section {
  
    width: 340px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub-section img {
    width: 300px;
    display: flex;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
}

.sub-section:hover {
    box-shadow: 0px 0px 4px rgba(209, 209, 209, 0.651);
}

/* card contents */
.sub-section div {
    width: 280px;
}

.sub-section p {
    width: 280px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.5;
}

.sub-section h4 {
    padding-bottom: 15px;
    border-bottom: 0.3px solid rgb(214, 214, 214);
    font-weight: normal;
}


.mid-header {
    width: 1030px;
    margin: 0 auto;

}